{
  "openapi": "3.0.3",
  "info": {
    "title": "Exclaimer Cloud API (Curated for MSP Automation)",
    "version": "v1-curated",
    "description": "Subset covering Subscriptions, Users, Mailboxes, Reference resources and Status for provisioning workflows."
  },
  "servers": [
    { "url": "https://cloudapi.exclaimer.com" }
  ],
  "security": [
    { "ApiKeyAuth": [] },
    { "BearerAuth": [] }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Partner/distributor API key."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "subscriptionId": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" }
      },
      "userId": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": { "type": "string" }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": { "type": "integer", "minimum": 0, "default": 0 }
      }
    },
    "schemas": {
      "Status": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "OK" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "DataCenter": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "region": { "type": "string" }
        }
      },
      "Sku": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "Tier": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "name": { "type": "string" }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "resellerId": { "type": "string" },
          "customerName": { "type": "string" },
          "sku": { "type": "string" },
          "tier": { "type": "string" },
          "status": { "type": "string", "enum": ["Trial", "Active", "Suspended", "Ended"] },
          "mailboxCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "SubscriptionCreate": {
        "type": "object",
        "required": ["customerName", "sku", "tier", "mailboxCount", "dataCenterId"],
        "properties": {
          "customerName": { "type": "string" },
          "sku": { "type": "string" },
          "tier": { "type": "string" },
          "mailboxCount": { "type": "integer" },
          "dataCenterId": { "type": "string" },
          "ownerEmail": { "type": "string", "format": "email" },
          "notForResale": { "type": "boolean", "default": false }
        }
      },
      "SubscriptionUpdate": {
        "type": "object",
        "properties": {
          "sku": { "type": "string" },
          "tier": { "type": "string" },
          "mailboxCount": { "type": "integer" },
          "ownerEmail": { "type": "string", "format": "email" },
          "notForResale": { "type": "boolean" }
        }
      },
      "SubscriptionUser": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "roles": { "type": "array", "items": { "type": "string" } }
        }
      },
      "SubscriptionUserCreate": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "roles": { "type": "array", "items": { "type": "string" } }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "displayName": { "type": "string" },
          "externalId": { "type": "string" }
        }
      },
      "MailboxCount": {
        "type": "object",
        "properties": {
          "count": { "type": "integer" }
        }
      },
      "Paged": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "type": "object" } },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "total": { "type": "integer" }
        }
      }
    }
  },
  "paths": {
    "/misc/status": {
      "get": {
        "operationId": "getApiStatus",
        "summary": "API status",
        "responses": {
          "200": {
            "description": "Service status",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Status" } } }
          }
        }
      }
    },
    "/reference/datacenters": {
      "get": {
        "operationId": "listDataCenters",
        "summary": "List data centers",
        "responses": {
          "200": {
            "description": "Data centers",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/DataCenter" } } } }
          }
        }
      }
    },
    "/reference/skus": {
      "get": {
        "operationId": "listSkus",
        "summary": "List SKUs",
        "responses": {
          "200": {
            "description": "SKUs",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Sku" } } } }
          }
        }
      }
    },
    "/reference/tiers": {
      "get": {
        "operationId": "listTiers",
        "summary": "List pricing tiers",
        "responses": {
          "200": {
            "description": "Tiers",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tier" } } } }
          }
        }
      }
    },

    "/subscriptions": {
      "get": {
        "operationId": "getSubscriptions",
        "summary": "Get subscriptions (paged)",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": {
            "description": "Paged subscriptions",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Paged" } } }
          }
        }
      },
      "post": {
        "operationId": "addSubscription",
        "summary": "Create subscription / start trial",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubscriptionCreate" } } }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Subscription" } } }
          }
        }
      }
    },

    "/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get a subscription",
        "parameters": [{ "$ref": "#/components/parameters/subscriptionId" }],
        "responses": {
          "200": {
            "description": "Subscription",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Subscription" } } }
          }
        }
      },
      "patch": {
        "operationId": "updateSubscription",
        "summary": "Update subscription properties (SKU/Tier/Mailbox/Owner/NFR)",
        "parameters": [{ "$ref": "#/components/parameters/subscriptionId" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubscriptionUpdate" } } }
        },
        "responses": { "200": { "description": "Updated" } }
      },
      "post": {
        "operationId": "reactivateSubscription",
        "summary": "Reactivate or migrate subscription (action via body)",
        "parameters": [{ "$ref": "#/components/parameters/subscriptionId" }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "action": { "type": "string", "enum": ["Reactivate", "Migrate"] } }
              }
            }
          }
        },
        "responses": { "202": { "description": "Action accepted" } }
      },
      "delete": {
        "operationId": "endSubscription",
        "summary": "End subscription",
        "parameters": [{ "$ref": "#/components/parameters/subscriptionId" }],
        "responses": { "204": { "description": "Ended" } }
      }
    },

    "/subscriptions/{subscriptionId}/users": {
      "get": {
        "operationId": "getSubscriptionUsers",
        "summary": "List subscription users",
        "parameters": [
          { "$ref": "#/components/parameters/subscriptionId" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": {
            "description": "Users",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/SubscriptionUser" } } } }
          }
        }
      },
      "post": {
        "operationId": "addSubscriptionUser",
        "summary": "Add user to subscription",
        "parameters": [{ "$ref": "#/components/parameters/subscriptionId" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubscriptionUserCreate" } } }
        },
        "responses": { "201": { "description": "Added" } }
      }
    },

    "/subscriptions/{subscriptionId}/users/{userId}": {
      "get": {
        "operationId": "getSubscriptionUser",
        "summary": "Get user",
        "parameters": [
          { "$ref": "#/components/parameters/subscriptionId" },
          { "$ref": "#/components/parameters/userId" }
        ],
        "responses": { "200": { "description": "User", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubscriptionUser" } } } } }
      },
      "patch": {
        "operationId": "updateSubscriptionUserRoles",
        "summary": "Update user roles",
        "parameters": [
          { "$ref": "#/components/parameters/subscriptionId" },
          { "$ref": "#/components/parameters/userId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "type": "object", "properties": { "roles": { "type": "array", "items": { "type": "string" } } } } }
          }
        },
        "responses": { "200": { "description": "Updated" } }
      },
      "delete": {
        "operationId": "deleteSubscriptionUser",
        "summary": "Remove user from subscription",
        "parameters": [
          { "$ref": "#/components/parameters/subscriptionId" },
          { "$ref": "#/components/parameters/userId" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },

    "/endusers": {
      "get": {
        "operationId": "getEndUsers",
        "summary": "Get end users (customer mailboxes)",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": { "description": "End users", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Paged" } } } }
        }
      },
      "put": {
        "operationId": "addOrUpdateEndUser",
        "summary": "Add or update an end user",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EndUser" } } }
        },
        "responses": { "200": { "description": "Upserted" } }
      }
    },

    "/mailboxes/count": {
      "get": {
        "operationId": "getMailboxCount",
        "summary": "Get mailbox count for billing",
        "responses": {
          "200": { "description": "Count", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MailboxCount" } } } }
        }
      },
      "post": {
        "operationId": "updateMailboxCount",
        "summary": "Update mailbox count for billing",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MailboxCount" } } }
        },
        "responses": { "200": { "description": "Updated" } }
      }
    }
  }
}